@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,900);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/* font-family: 'Open Sans', sans-serif; */


/* Body styling */

body {
  max-height: 50%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #253238;
}


/* Main Typography */

h1 {
  text-transform: uppercase;
  letter-spacing: -0.125em;
}

h2 {
  text-transform: uppercase;
  font-weight: 500;
}

h3 {
  letter-spacing: -0.03125em;
}

p {
  letter-spacing: -0.0125em;
  font-size: 0.9em !important;
}


/* Front Page Image Layout  */


/* Image stretches to vh */

header#front {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: #253238;
}

header #bg-photo {
  margin-top: 78px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  min-height: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .6;
}

#logo {
  top: 35%;
  max-width: 50%;
  margin: 0 25%;
  position: absolute;
  display: block;
  z-index: 1;
  animation: onLoad 2s cubic-bezier(0.4, 0.02, 0.57, 0.82);
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-radius: 10px;
  padding: 20px;
}

@keyframes onLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Navigation */

#navBar {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 80px;
  background: #253238;
  box-shadow: 0px 0px 10px #2d2d2d;
  z-index: 9999;
}


/* Name on Nav Bar */

#nav-title {
  display: inline-block;
  margin: 0;
  padding: 20px 0 0 20px;
  max-height: 60px;
  width: auto;
}

.drawer-menu ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 7em;
  font-family: arial;
  letter-spacing: .3em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


/* drawer menu */

.drawer-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 120px 0;
  background: #253238;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: perspective(500px) rotateY(-90deg);
  transform: perspective(500px) rotateY(-90deg);
  opacity: 0;
  box-shadow: 0px 0px 5px #1E1E1E;
}

.drawer-menu li {
  text-align: center;
}

.drawer-menu li a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.drawer-menu li a:hover {
  color: #1a1e24;
  background: #96908D;
}


/* Icons in Sidebar */

.icon-link {
  width: 44px;
  height: 44px;
  background-color: #666;
  line-height: 44px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 5px;
  box-sizing: content-box;
}

.icon-link.round {
  border-radius: 50%;
}

.icon-link:hover {
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  height: 40px;
  line-height: 40px;
  width: 40px;
  background-color: #fff;
}

.icon-link:hover.linkedin {
  border: 2px solid #007bb6;
}

.icon-link:hover.instagram {
  border: 2px solid #c13584;
}

.icon-link:hover.github {
  border: 2px solid #444;
}

.icon-link:hover .fa {
  line-height: 40px;
}

.icon-link:hover .fa-linkedin {
  color: #007bb6;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-instagram {
  color: #c13584;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link:hover .fa-github {
  color: #444;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.icon-link .fa {
  color: #fff;
  line-height: 44px;
  font-size: 24px;
}

.sidebar-icons {
  text-align: center;
  margin-top: 20px;
}

.footer-icons {
  text-align: center;
  margin-bottom: 10px;
}

/* checkbox */

.check {
  display: none;
}


/* menu button - label tag */

.menu-btn {
  position: fixed;
  display: block;
  top: 28px;
  right: 40px;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 1px;
  background: white;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.bar.middle {
  top: 12px;
  opacity: 1;
}

.bar.bottom {
  top: 24px;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}

.menu-btn__text {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: block;
  visibility: visible;
  opacity: 1;
}


/* Hover Effects */

.menu-btn:hover .bar {
  background: white;
}

.menu-btn:hover .menu-btn__text {
  color: #999;
}

.close-menu {
  position: fixed;
  top: 0;
  right: 300px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}


/* checked */

.check:checked ~ .drawer-menu {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
  z-index: 2;
}

.check:checked ~ .contents {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px);
}

.check:checked ~ .menu-btn .menu-btn__text {
  visibility: hidden;
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.top {
  width: 56px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
  width: 56px;
  top: 40px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.check:checked ~ .close-menu {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  background: rgba(0, 0, 0, .5);
  visibility: visible;
  opacity: 1;
  z-index: 3;
}


/* End Navigation */


/* Main Content */


/* About Me Section */

#about {
  max-width: 100%;
  background: #EDEEEF;
  color: #5B5A60;
}

#about h1 {
  padding: 20% 0 2% 0;
  display: block;
  color: #5B5A60;
  text-align: center;
  font-size: 1.8em;
}

.line {
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}

p {
  text-align: center;
  line-height: 150%;
  color: rgba(26, 26, 26, .6);
  /*padding: 0 10% 8% 10%;*/
}


/* Skill section */

#skill-info {
  text-transform: none;
  text-align: center;
  padding: 0 2px 7% 2px;
  color: #2d2d2d;
}

/*div img {
  display: block;
  margin: 0 25%;
  width: 50%;
  padding-bottom: 20%;
}*/


/* sections before skills */

#gear p {
  font-size: 2em;
  text-transform: none;
  padding: 0 0 7% 0;
  margin: 0;
  text-align: center;
}

#lightbulb p {
  font-size: 2em;
  text-transform: none;
  padding: 0 0 7% 0;
  margin: 0;
  text-align: center;
}

#tree p {
  font-size: 2em;
  text-transform: none;
  padding: 0 0 7% 0;
  margin: 0;
  text-align: center;
}

#gear i {
  width: 17%;
  margin: 0 45%;
  padding: 5% 0 7% 0;
}

#lightbulb i {
  width: 10%;
  margin: 0 45%;
  padding: 5% 0 7% 0;
}

#tree i {
  width: 10%;
  margin: 0 45%;
  padding: 5% 0 7% 0;
}

.material-icons.md-18 {
  font-size: 18px;
  color: #253238;
}
.material-icons.md-24 {
  font-size: 24px;
  color: #253238;
}
.material-icons.md-36 {
  font-size: 36px;
  color: #253238;
}
.material-icons.md-48 {
  font-size: 48px;
  color: #253238;
}


/* Skill bars */

#skills {
  max-width: 100%;
  background: #fff;
  text-align: left;
  padding: 0 8%;
  text-transform: uppercase;
  padding-bottom: 24%;
}

#skills p {
  padding: 0 10% 8% 10%;
  color: rgba(26, 26, 26, .6);
}

#skills .line {
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}

#skills h1 {
  padding: 20% 0 2% 0;
  text-align: center;
  display: block;
  color: #5B5A60;
  text-align: center;
  font-size: 1.8em;
}



/* End Skills */


/* Development Section */

#development {
  width: 100%;
  background: #fff;
  margin: 1.7% 0px 0px 0px;
}

#development h1 {
  padding: 8% 0 2% 0;
  text-align: center;
  display: block;
  color: #5B5A60;
  text-align: center;
  font-size: 1.8em;
}

#development p {
  text-align: center;
  margin: 0;
  padding-bottom: 25%;
}


.dev-images {
  padding: 4% 4% 4% 4%;
}

.design-images {
  padding: 4% 6% 4% 6%;
}

/* Image Hover Effects */


.snip1446 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 0px;
  /*min-width: 230px;
  max-width: 500px;
  max-height: 400px;*/
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;

}
.snip1446 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1446 img {
  opacity: 1;
  width: 100%;
}

/*.snip1446:hover img {
  -webkit-filter: blur(2px);
  -moz-filter: all .25s ease;
  -o-filter: all .25s ease;
  -ms-filter: all .25s ease;
  filter: blur(2px);
}*/
.snip1446:after,
.snip1446:before,
.snip1446 figcaption:after,
.snip1446 figcaption:before {
  background: #000f1f;
  width: 25%;
  position: absolute;
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s steps(4);
  transition: all 0.3s steps(4);
  z-index: 1;
  top: 100%;
  bottom: 0;
}
.snip1446:before {
  left: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
.snip1446:after {
  left: 25%;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.snip1446 figcaption:before {
  left: 50%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: -1;
}
.snip1446 figcaption:after {
  left: 75%;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  z-index: -1;
}
.snip1446 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 30px;
}
.snip1446 h2,
.snip1446 p,
.snip1446 .icons {
  margin: 0;
  width: 100%;
  opacity: 0;
}
.snip1446 h2 {
  font-weight: 900;
  text-transform: uppercase;
}
.snip1446 p {
  font-weight: 300;
  color: whitesmoke;
}
.snip1446 .icons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
.snip1446 i {
  padding: 0px 10px;
  display: inline-block;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  opacity: 0.8;
  cursor: pointer;
}
.snip1446 i:hover {
  opacity: 1;
  cursor: pointer;
}
.snip1446:hover:after,
.snip1446.hover:after,
.snip1446:hover:before,
.snip1446.hover:before,
.snip1446:hover figcaption:after,
.snip1446.hover figcaption:after,
.snip1446:hover figcaption:before,
.snip1446.hover figcaption:before {
  top: 0;
  opacity: 0.9;
}
.snip1446:hover figcaption h2,
.snip1446.hover figcaption h2,
.snip1446:hover figcaption p,
.snip1446.hover figcaption p,
.snip1446:hover figcaption .icons,
.snip1446.hover figcaption .icons {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.snip1446:hover figcaption h2,
.snip1446.hover figcaption h2,
.snip1446:hover figcaption .icons,
.snip1446.hover figcaption .icons {
  opacity: 1;
}
.snip1446:hover figcaption p,
.snip1446.hover figcaption p {
  opacity: 0.7;
}


/* End Development */


/* Design Section */

#design {
  width: 100%;
  background: #fff;
  margin: 1.7% 0px 0px 0px;
}

#design h1 {
  padding: 8% 0 2% 0;
  text-align: center;
  display: block;
  color: #5B5A60;
  text-align: center;
  font-size: 1.8em;
}

#design p {
  text-align: center;
  margin: 0;
  padding-bottom: 25%;
}



/* End Design */

/* LIGHTBOX */

/* Style the Image Used to Trigger the Modal */
.lightbox-img i {
    cursor: pointer;
}
.lightbox-img {
  cursor : pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1031; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    cursor: pointer;
}

.modal img {
  cursor: default;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    /*max-height: 100%;*/
    margin-bottom: 20px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption1 {
  position: fixed;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-top: 15px;
  padding-right: 35px;
  background-color: rgba(20, 20, 20, 0.5);
  bottom: 0;
  left: 0;
  color: #f1f1f1;
  font-size: 30px;
  transition: 0.3s;
  z-index: 1032;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption1 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: fixed;
    top: 115px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        max-width: 700px;
    }
}


/* Contact form with Formspree */

#contact {
  width: 100%;
  background: #fff;
  margin-top: 1.7%;
  padding-bottom: 0;
}

#contact h3 {
  text-transform: uppercase;
  text-align: left;
  padding-left: 7%;
  color: #2d2d2d;
}

p.contactIn {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12%;
  text-align: left;
  margin: 0 auto;
}

#contact p {
  text-align: left;
  padding-left: 12%;
}

#contact h1 {
  padding: 15% 0 2% 6%;
  text-align: left;
  display: block;
  color: #2d2d2d;
  font-size: 1.8em;
}

#contact input {
  border-radius: 0px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fafafa;
}

#contact label {
  padding-left: 0%;
  padding-bottom: 2%;
  display: block;
  text-align: left;
  color: rgba(5, 5, 5, 0.6);
}

#name {
  padding-top: 10%;
  padding-left: 8%;
  width: 90%;
  display: block;
  padding-bottom: 5%;
}

#name input {
  width:100%;
}

#email {
  padding-bottom: 5%;
  padding-left: 8%;
  display: block;
  width: 90%;
}

#email input {
  width:100%;
}

#message label {
  padding-left: 8%;
  display: block;
}



textarea {
  box-shadow: 0 0 0 0;
  border-radius: 0px;
  margin-left: 8%;
  width: 82%;
  display: inline-block;
  border: 1px solid #ccc;
  background: #fafafa;
  height: 100px;
}

#submit input[type=submit] {
  display: block;
  margin: auto;
  color: #fff;
  background: #2d2d2d;
  border: 0px;
  padding: 1% 3%;
  letter-spacing: 0.1em;
  transition: all .5s;
  border: .5px solid #2d2d2d;
}

#submit input[type=submit]:hover {
  background: #fff;
  color: #2d2d2d;
  border: .5px solid #2d2d2d;
}

#submit {
  padding-bottom: 10%;
  margin-top: 10%;
}


/* End Contact Form */


/* Footer Content */


/* Scroll up indicator */

#footer-above {
  width: 100%;
  height: 30px;
}

#to-top {
  display: block;
  padding-bottom: 2%;
}

#scroll-up {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: auto;
  transform: rotate(45deg);
  display: block;
  border-top: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
  cursor: pointer;
  transition: all .5s;
}

footer {
  display: inline-block;
  width: 90%;
  padding-bottom: 3%;
  color: #999;
  text-align: center;
  background: #253238;
  margin: 0 5%;
}


/* End Footer */


/* Resume */


.resume button {
  display: inline-block;
  margin: auto;
  color: #fff;
  background: #2d2d2d;
  border: 0px;
  padding: 1.5% 5%;
  letter-spacing: 0.1em;
  transition: all .5s;
  border: .5px solid #2d2d2d;
  border-radius: 2px;
  vertical-align: middle;
}
.resume i {
  padding-left: 4px;
}

.resume button:hover {
  background: #fff;
  color: #2d2d2d;
  border: .5px solid #2d2d2d;
}

.resume {
  padding-bottom: 10%;
  margin-top: 10%;
  margin: 4% 10%;
  font-size: 1em;
}

.resume-text{
  margin-top: 60px;
}


/* Media Query for Tablet */

@media screen and (min-width: 768px) {
  div#about {
    width: 100%;
  }
  #about h1 {
    padding-top: 15%;
    padding-bottom: 2%;
    font-size: 2.2em;
  }
  #about p {
    font-size: 1.3em;
  }

  #about img {
    padding-top: 5%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 5%;
  }

  #skills h1 {
    font-size: 2.2em;
  }
  div#skills {
    max-width: 100%;
  }
  div#skills p {
    font-size: 1.3em;
    margin-left: 10%;
    margin-right: 10%;
  }


  div#development h1 {
    font-size: 2.2em;
  }
  div#development p {
    font-size: 1.3;
  }

  div#design h1 {
    font-size: 2.2em;
  }
  div#design p {
    font-size: 1.3;
  }
  /*  Contact Form  */
  div#contact {
    clear: both;
  }
  #contact h1 {
    padding-left: 10%;
    font-size: 1.8em;
  }
  #contact h3 {
    font-size: 1em;
    padding-left: 10%;
    letter-spacing: 2px;
  }
  #contact p {
    margin-right: 10%;
    font-size: 1em;
    padding-left: 10%;
  }
  #contact label {
    font-size: 1.2em;
  }
  #submit {
    font-size: 1.2em;
  }
  div#contact {
    display: inline-block;
    background: #fff;
  }
  form {
    padding-top: 2.5%;
    float: right;
    width: 55%;
    background: #fff;
    display: inline-block;
  }
  #contact label {
    font-size: .9em;
  }
  #con-left {
    display: inline-block;
    float: left;
    width: 45%;
    background: #fff;
  }
  #submit {
    float: left;
    margin: 4% 8%;
    font-size: 1em;
  }
  #name input {
    width: 50%;
  }
  #email input {
    width: 60%;
  }
  #submit input[type=submit] {
    padding: 5% 25%;
    margin: auto;
    text-align: center;
  }
  div#footer-above {
    clear: both;
  }
}


/* Media Query only for logo */

@media screen and (min-width: 480px) {
  #logo {
    top: 37%;
    width: 33%;
    margin: 0 33.5%;
  }
  #about img {
    padding-top: 5%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 5%;
  }


}

@media screen and (max-width: 480px) {

  #nav-title {
    display: inline-block;
    margin: 0;
    padding: 26px 0 0 15px;
    max-height: 52px;
    width: auto;
  }

  #about img {
    width: 100vw;
    padding-bottom: 0%;
  }
}
/* End Media Query for logo */


/* Large Tablet and Desktop */

@media screen and (min-width: 1000px) {
  .menu-btn:hover span.bar.middle {
    width: 20px;
  }
  .menu-btn:hover span.bar.bottom {
    width: 30px;
  }
  #logo {
    top: 33%;
    width: 22%;
    margin: 0 39%;
  }
  #scroll-up:hover {
    border-top: 2px solid #999;
    border-left: 2px solid #999;
  }
  .hideme {
    opacity: 0;
  }
  /*  About  */
  #about h1 {
    padding-top: 7%;
    padding-bottom: 1%;
    font-size: 2.2em;
  }
  #about p {
    font-size: .85em;
    padding-left: 30%;
    padding-right: 30%;
    line-height: 1.7em;
    padding-bottom: 0;
  }
  div#skills p {
    font-size: .85em;
  }
  #about img {
    padding-top: 5%;
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    padding-bottom: 10%;
  }
  /*  Three column section for skills  */
  #gear {
    display: inline-block;
    width: 33.333333%;
    float: left;

  }
  #lightbulb {
    display: inline-block;
    width: 33.333333%;
    float: left;
    padding-bottom: 4%;
  }
  #tree {
    display: inline-block;
    width: 33.333333%;
    float: right;

  }
  /*  Skills  */
  #skills h1.hideme {
    padding-top: 10%;
    padding-bottom: 1%;
  }
  #skills h1.hideme {
    padding-top: 8%;

  }
  p#skill-info.hideme {
    font-size: .85em;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.7em;
  }
  #development h1 {
    /*padding-top: 10%;*/
  }
  #development p {
    padding-bottom: 10%;
  }

  #design h1 {
    padding-top: 10%;
  }
  #design p {
    padding-bottom: 10%;
  }
  /*  Contact  */
  #contact p {
    font-size: .85em;
  }
}


/* End Media Query for Desktop */


/* Media Query for large desktop computers */

@media screen and (min-width: 1500px) {
  #logo {
    top: 35;
    width: 20%;
    margin: 0 40%;
  }
}


/* Languages Section */

#languages h1.hideme {
  font-size: 2.2em;
  padding: 8% 0 2% 0;
  display: block;
  color: #5B5A60;
  text-align: center;
}

#languages {
    margin: 10px 0px 0px 0px;
    max-width: 100%;
    background: #EDEEEF;
    text-align: center;
    padding: 0 8%;
    padding-bottom: 4%;
}

#languages .lang-icons {
  padding-top: 20px;
  padding-bottom: 20px;
}

#languages i {
  font-size: 6em;
  cursor: default;
}

#languages span {
  margin-bottom: 20px;
}

#languages p {
  padding-top: 10px;
  cursor: default;
}

#angular:hover p {
  color: #c4473a;
}

#atom .colored {
  color: #23d61a;
}

.lang-icons:hover p {
  /*text-shadow: -1px 1px 0px rgba(20, 20, 20, 1);*/
  color: #000;
}

.colored {
  text-shadow: -1px 2px 1px rgba(20, 20, 20, 1);
  /*text-shadow: 0px -3px 2px rgba(0, 0, 0, 1);*/
}

.devicon-linux-plain.colored {
    color: #fff;
}

@keyframes fadein {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}









.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 0%;
	min-width: 320px;
	/*max-width: 480px;
	max-height: 360px;
	width: 48%;*/
	background: #3085a3;
	text-align: center;
	/*cursor: pointer;*/
}

.grid figure:hover {
  background: rgba(0,0,0,0.9);
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

.grid figure figcaption {
	padding: 2em;
	color: #cdcdcd;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2 {
	margin: 0;
  padding-top: 6px;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/*---------------*/
/***** Zoe *****/
/*---------------*/



figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
  font-size: 1.5em;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.5em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: whitesmoke;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a i::before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover img {
	filter: brightness(20%);
}

/*figure.effect-zoe img {
  transition: filter 0.1s;
}*/

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }








/* Effect 21: borders slight translate */

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang-icons p {
	position: relative;
	/*display: inline-block;*/
	margin: 15px 25px;
  padding: auto;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

.lang-icons:hover p,
.lang-icons:focus p {
	outline: none;
}

.lang-icons p {
	padding: 10px;
	color: #237546;
	font-weight: 400;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.lang-icons p::before,
.lang-icons p::after {
	position: absolute;
	left: 30%;
	width: 40%;
  /*text-align: center;*/
	height: 2px;
	background: #2d2d2d;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.lang-icons p::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.lang-icons p::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.lang-icons:hover p,
.lang-icons:focus p {
	color: #2d2d2d;
  font-weight: 700;
  -webkit-transition: font-weight 0.3s, -webkit-transform 0.3s;
  -moz-transition: font-weight 0.3s, -moz-transform 0.3s;
  transition: font-weight 0.3s, transform 0.3s;
}

.lang-icons:hover p::before,
.lang-icons:focus p::before,
.lang-icons:hover p::after,
.lang-icons:focus p::after {
	opacity: 0.5;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

p:active,p:hover {
    outline: 0;
}

@media only screen and (max-width: 1000px) and (min-width: 780px) {

  .lang-icons p::before,
  .lang-icons p::after {
  	left: 35%;
  	width: 30%;
  }

  figure.effect-zoe p.description {
    text-align: center;
    position: absolute;
    bottom: 2em;
    padding: 2em;
    color: #fff;
    font-size: 1.7em !important;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
  }

}

@media screen and (max-width: 780px) {

  .lang-icons p::before,
  .lang-icons p::after {
  	left: 30%;
  	width: 40%;
  }


}

@media screen and (max-width: 480px) {

  .lang-icons p::before,
  .lang-icons p::after {
  	left: 20%;
  	width: 60%;
  }

  figure.effect-zoe p.description {
  	position: absolute;
  	bottom: 2em;
  	padding: 2em;
  	color: #fff;
    font-size: 0.7em !important;
  	text-transform: none;
  	font-size: 90%;
  	opacity: 0;
  	-webkit-transition: opacity 0.35s;
  	transition: opacity 0.35s;
  	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
    pointer-events: none;
  }

  figure.effect-zoe h2 {
  	float: left;
    font-size: 0.9em;
  }

  .lightbox-img {
    display: none;
  }

  #design figure.effect-zoe p.icon-links a {
  	float: right;
  	color: #fff;
  	font-size: 1.5em;
    pointer-events: none;
    cursor: default;
  }

  #design figure.effect-zoe:hover p.icon-links a:hover,
  #design figure.effect-zoe:hover p.icon-links a:focus {
  	color: #fff;
    pointer-events: none;
    cursor: default;
  }

  #development .icon-links a.external-icon {
    display: none;
  }

  figure.effect-zoe p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 2em;
    margin-left: 12px;
  }

  figure.effect-zoe p.icon-links a i::before,
  figure.effect-zoe p.icon-links a i::after {
    display: inline-block;
    padding: 20px 16px;
    position: relative;
    z-index: 999;
    margin: -20px -6px;
  }


}
